.callsign {
  display: flex;
  align-items: center;
  width: fit-content;

  margin: 0;
}

.callsign p,
.discord-status img,
i {
  margin: 0 0 0 5px;
}

.status-container {
  display: flex;
}

.discord-status {
  display: flex;
  align-items: center;
}

.callsign img {
  height: 32px;
  width: 32px;

  border-radius: 100%;
}

.discord-status img {
  height: 20px;
  width: 20px;
}
