.social-header {
  background-color: #00346e;
  color: var(--neutral-white);
  height: 270px;
  padding: 5rem 4rem 4rem 2rem;
}

.social-content {
  display: flex;
  flex-direction: column;
}

.social-content a {
  color: var(--neutral-white);
}

.social-link {
  --t_timing: 2s;
  --transition: background-size var(--t_timing) cubic-bezier(0.16, 1, 0.3, 1),
    background-position var(--t_timing) ease;

  height: 10pc;
  position: relative;
  transition: var(--transition);
  background-size: 100% auto;
}

.inside {
  display: flex;
}

.inside svg {
  margin: 0.75rem 0;
  bottom: 15px;
  font-size: 1.5em;
  font-weight: 600;
  left: 32.5px;
  letter-spacing: 1px;
  position: absolute;
  color: var(--neutral-white);
}

.inside h1 {
  margin: 0.75rem 0;
  bottom: 12.5px;
  font-size: 1.5em;
  font-weight: 600;
  left: 65px;
  letter-spacing: 1px;
  position: absolute;
  color: var(--neutral-white);
}

.social-link:hover {
  background-size: 200% auto;
}
